.parent {
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.column {
    width: 200px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}